@media (max-width: 1415px) {
    nav.navbar, .top-nav{
        padding: 8px 70px;
    }
    .banner-carousel .carousel-caption{
        left: 70px;
    }
    .bannerModel-box{
        right: 70px;
    }
    .banner-community-persons-wrap{
        padding: 30px 70px;
    }
}
@media (max-width: 1255px) {
    nav.navbar, .top-nav, .section-title-wrap, .company-logo-row, .best-seller-container,.brand-row{
        padding: 8px 30px;
    }
    .banner-carousel .carousel-caption{
        left: 30px;
    }
    .bannerModel-box{
        right: 30px;
    }
    #all-phones{
        padding: 0px 30px 20px;
    }
}
@media (max-width: 992px) {
    .desktop-view{
        display: none;
    }
    .mobile-view-flex{
        display: flex;
    }
    .mobile-view-block{
        display: block;
    }
    .sm-px-15, .product-detail-row{
        padding:15px !important;
    }
    .sm-plr-15{
        padding: 0 15px;
    }
    .sm-section-title-wrap{
        display: block;
        font: 11px 'HelveticaNeue', sans-serif;
        color: #9E9E9E;
    }
    .search-wrapper, .lg-dropdowns-container{
        display: none;
    }
    #navbarNav.collapse:not(.show){
        display: none !important;
    }
    nav.navbar{
        padding: 5px 10px;
    }
    .navbar>.container-fluid{
        flex-direction: row-reverse;
    }
    .mobile-nav-icons, .mobile-nav-sub-top-menu{
        display: inline-block;
    }
    .mobile-nav-icons img{
        margin: 0 3px;
    }
    .navbar-brand{
        width: 110px;
        margin: 0;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    #navbarNav{
        position: absolute;
        right: 0;
        top: 53px;
        background-color: #fff;
        justify-content: initial;
        z-index: 9;
    }
    .mobile-nav-sub-top-menu{
        background: #000;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 80px;
        padding: 20px 15px;
    }
    .sm-lang-drp-wrap{
        margin-right: 10px;
    }
    .sm-lang-drp-wrap .btn-group{
        vertical-align: inherit;
    }
    .sm-top-nav-link{
        font: 12px 'Helvetica_NeueLT', sans-serif;
        font-weight: 600;
        color: rgba(255,255,255,62%);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sm-top-nav-link span{
        margin: 0 10px;
    }
    .sm-top-nav-link::after{
        display: none;
    }
    .sm-top-nav-link ~ .dropdown-menu{
        padding: 5px 10px;
        font: 12px 'Helvetica_NeueLT', sans-serif;
    }
    .sm-top-nav-link ~ .dropdown-menu li span{
        margin-left: 10px;
    }
    .main-text{
        font: 14px 'Helvetica_NeueLT', sans-serif;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }
    ul.navbar-nav{
        display: initial;
    }
    .navbar-nav .nav-item:after, .sm-d-none{
        display: none;
    }
    .section-title-wrap span, .section-title-without-see-more{
        font: 16px 'Helvetica_Neu_Bold', sans-serif;
    }
    .section-title-wrap .see-more-link{
        font: 10px 'Helvetica_Neu_Bold', sans-serif;
        padding: 8px 12px;
    }
    .section-title-wrap, .best-seller-container{
        padding: 8px 15px;
    }
    .company-logo-row {
        padding: 8px 7px;
    }
    .px-7{
        padding-left: 3px;
        padding-right: 3px;
    }
    .pb-15{
        padding-bottom: 6px !important;
    }
    .company-logo-box{
        height: 55px;
        padding: 3px;
        margin-bottom: 6px;
    }
    .brand-box, .internet-card-box{
        height: 55px;
    }
    .section-title-without-see-more{
        margin-bottom: 7px;
    }
    .best-seller-carousel-container .owl-carousel .item{
        padding: 0;
    }
    .brands-wrap{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 6px;
    }
    .brand-row{
        padding: 8px 0;
    }
    .internet-card-container{
        display: none;
    }
    .sm-internet-card-container, .sm-dropdowns-container{
        display: block;
    }
    .sm-internet-card-container .internet-card-wrap{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 6px;
    }
    .special-num-grid{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 50px;
        grid-row-gap: 10px;
    }
    .special-numbers-list{
        max-height: 190px;
    }
    .special-numbers-list li {
        font: 18px 'Helvetica_Neu_Bold', sans-serif;
    }
    .banner-community-carousel.owl-carousel .item{
        padding: 8px;
    }
    .pagination-wrap .page-item.pagination-prev-wrap {
        margin-right: 10px;
    }
    .pagination-wrap .page-item.pagination-next-wrap {
        margin-left: 10px;
    }
    .pagination-wrap .page-item .page-link{
        font: 11px 'Helvetica_Neu_Bold', sans-serif;
        padding: 5px 8px;
    }
    .pagination-icon{
        width: 20px;
    }
    .pagination-wrap{
        margin-top: 20px;
    }
    .banner-carousel.otherPage-Carousel .carousel-indicators {
        bottom: 0;
    }
    .company-promo{
        margin: 0;
    }
    .company-promo .brand-box{
        margin: 0 15px;
        width: 100%;
        height: 100%;
    }
    .tabs-bg .nav-pills-container{
        padding: 15px 7px;
    }
    .tabs-bg .nav-pills-container .nav-fill .nav-item .nav-link{
        font-size: 11px;
        padding: 8px 12px;
    }
    .tabs-bg .nav-fill .nav-item{
        flex: 0 auto;
    }
    .tabs-bg .nav-pills-container .nav-fill{
        gap: 15px;
        justify-content: center;
    }
    .company-category-tabs{
        padding: 0px 15px;
    }
    .tab-section-title{
        font-size: 14px;
    }
    .line-img, .arrow-wrap{
        display: none;
    }
    .company-category-tabs .best-seller-owl-carousel .item{
        padding: 5px 20px;
    }
    .company-category-tabs .best-seller-owl-carousel .owl-prev {
        left: -8px !important;
    }
    .company-category-tabs .best-seller-owl-carousel .owl-next {
        right: -8px !important;
    }
    .product-title, .p-desc, .p-code, .p-warn-text{
        font-size: 10px;
    }
    .product-button-wrap .btn-dark{
        font-size: 10px;
    }
    .tab-section-title{
        padding-top: 10px;
    }
    #all-phones{
        padding: 0px 15px;
    }
    .sm-drp-link, .product-drp-wrap .dropdown-menu{
        font: 11px 'HelveticaNeue', sans-serif;
        color: #000;
        text-decoration: none;
    }
    .product-drp-wrap .dropdown-menu{
        padding: 10px;
    }
    .product-drp-wrap .dropdown-menu li{
        margin-bottom: 5px;
    }
    .sm-dropdowns-container .dropdown-wrap{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 4px;
    }
    .sm-dropdowns-container .product-drp-wrap{
        display: inline-block;
    }
    .comp-cat-pad{
        padding: 15px 30px;
    }
    .sm-mt-30{
        padding-top: 30px;
    }
    .sm-bg-gary{
        background-color: #F2F3F6;
    }
    #all-phones .best-seller-carousel-container .owl-carousel .item{
        background-color: #fff;
    }
    .button-container{
        margin-top: 25px;
    }
    .btn-wrap{
        margin-bottom: 12px;
    }
    .plus-minus-wrap{
        width: 30%;
        margin: 0 auto;
    }
    .plus-minus-wrap .h-25{
        height: 25px !important;
    }
    .plus-minus-wrap button{
        display: flex;
        align-items: center;
        color: #0C65FF;
        font: 11px 'Helvetica_Neu_Bold', sans-serif;
        border-color: #707070 !important;
        border-radius: unset;
    }
    .plus-minus-wrap input{
        font: 11px 'Helvetica_Neu_Bold', sans-serif;
        border-color: #707070 !important;
    }
}

@media (max-width: 767px) {
    body.active{
        background: rgba(0,0,0,0.7);
    }
    .top-nav{
        padding: 4px 10px;
    }
    .top-nav-element-wrap{
        justify-content: space-between;
    }
    .country-start-text, .top-nav-link .country-icon, .account-wrap{
        display: none;
    }
    #navbarNav.collapse:not(.show){
        display: none !important;
    }
    nav.navbar{
        padding: 5px 10px;
    }
    .navbar>.container-fluid{
        flex-direction: row-reverse;
    }
    .mobile-nav-icons, .mobile-nav-sub-top-menu{
        display: inline-block;
    }
    .mobile-nav-icons img{
        margin: 0 3px;
    }
    .navbar-brand{
        width: 110px;
        margin: 0;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    #navbarNav{
        position: absolute;
        right: 0;
        top: 53px;
        background-color: #fff;
        justify-content: initial;
        z-index: 9;
    }
    .mobile-nav-sub-top-menu{
        background: #000;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 80px;
        padding: 20px 15px;
    }
    .sm-lang-drp-wrap{
        margin-right: 10px;
    }
    .sm-lang-drp-wrap .btn-group{
        vertical-align: inherit;
    }
    .sm-top-nav-link{
        font: 12px 'Helvetica_NeueLT', sans-serif;
        font-weight: 600;
        color: rgba(255,255,255,62%);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sm-top-nav-link span{
        margin: 0 10px;
    }
    .sm-top-nav-link::after{
        display: none;
    }
    .sm-top-nav-link ~ .dropdown-menu{
        padding: 5px 10px;
        font: 12px 'Helvetica_NeueLT', sans-serif;
    }
    .sm-top-nav-link ~ .dropdown-menu li span{
        margin-left: 10px;
    }
    .main-text{
        font: 14px 'Helvetica_NeueLT', sans-serif;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }
    ul.navbar-nav{
        display: initial;
    }
    .navbar-nav .nav-item:after, .sm-d-none{
        display: none;
    }

    /* Footer */
    .footer{
        padding: 32px 5px 50px;
    }
    .sm-footer-input-container{
        display: inline-block;
        /* margin-top: 20px; */
    }
    .stay-in-touch-text{
        font-size: 10px;
        margin-top: 10px;
    }
    .center-align{
        justify-content: space-between;
        align-items: baseline;
    }
    .footer-email-input input{
        height: 36px;
    }
    .footer-logo{
        width: 78px;
    }
    .footer-links ul{
        padding-left: 5px;
    }
    .footer-links ul li a{
        font-size: 13px
    }
    .footer-input-container{
        display: none;
    }
    .social-icon-wrap{
        height: 100%;
        margin-top: 0px;
        justify-content: space-evenly;
    }
    .sm-copyright-text{
        margin-top: 10px;
        margin-bottom: 0;
        color: #fff;
        font: 14px 'HelveticaNeue', sans-serif;
        text-align: left;
        display: inline-block;
        padding-left: 52px;
    }
    .bannerModel-box, .sm-none, .dash{
        display: none;
    }
    .lg-none{
        display: block;
    }
    .banner-community-persons-wrap{
        padding: 15px 30px;
    }
    .owl-prev i, .owl-next i{
        font-size: 25px;
    }
    .owl-prev{
        left: -25px;
    }
    .owl-next{
        right: -25px;
    }
    .owl-carousel .item{
        padding: 10px;
    }
    .com-details{
        font-size: 9px;
    }
    .banner-avatar{
        width: 45px !important;
    }
    .banner-community-persons-wrap{
        bottom: -60px;
    }
    .mouse-scroll-wrap{
        padding: 80px 0 50px 0;
    }
    .banner-carousel .carousel-caption h5{
        font-size: 25px;
    }
    .banner-carousel .carousel-caption p{
        font-size: 12px;
    }
    .banner-carousel .carousel-caption{
        left: 15px;
        top: 32%;
    }
    .banner-carousel .carousel-caption a{
        margin-top: 5px;
    }
    .banner-carousel.home-carousel .carousel-indicators{
        bottom: 40px;
    }
    .banner-carousel .carousel-indicators [data-bs-target]{
        width: 7px;
        height: 7px;
        margin: 0 5px;
    }
}