@media (min-width: 1600px) {
    .celebrity-img-wrap img{
        width: 80% !important;
        margin: 0 auto;
    }
    .celebrity-info-wrap{
        margin-top: 60%;
    }
    .celebrities-card-wrap{
        padding: 15px 65px;
    }
    
    
    
}

@media (max-width: 1415px) {
    nav.navbar, .top-nav, #special-number-row, .special-number-big{
        padding: 8px 70px;
    }
    .banner-carousel .carousel-caption{
        left: 70px;
    }
    .bannerModel-box{
        right: 70px;
    }
    .banner-community-persons-wrap{
        padding: 30px 70px;
    }
}
@media (max-width: 1255px) {
    nav.navbar, .top-nav, .section-title-wrap, .company-logo-row, .best-seller-container,.brand-row, .px-150-py-40, #special-number-row, .special-number-big{
        padding: 8px 30px;
    }
    .banner-carousel .carousel-caption{
        left: 30px;
    }
    .bannerModel-box{
        right: 30px;
    }
    #all-phones{
        padding: 0px 30px 20px;
    }
    .celebrity-name{
        font-size: 12px;
    }
    .celebrity-profile-info, .celebrity-product-info{
        font-size: 12px;
    }
}
@media (max-width: 992px) {
    .special-imgs-link-wrap{
        position: static;
        text-align: center;
    }
    .special-imgs-inner-wrap{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .desktop-view{
        display: none;
    }
    .mobile-view-flex{
        display: flex;
    }
    .mobile-view-block, .mobile-view{
        display: block;
    }
    .sm-px-15, .product-detail-row{
        padding:15px !important;
    }
    .sm-plr-15{
        padding: 0 15px;
    }
    .sm-section-title-wrap{
        display: block;
        font: 11px 'HelveticaNeue', sans-serif;
        color: #9E9E9E;
    }
    .search-wrapper, .lg-dropdowns-container{
        display: none;
    }
    #navbarNav.collapse:not(.show){
        display: none !important;
    }
    nav.navbar{
        padding: 5px 10px;
    }
    .navbar>.container-fluid{
        flex-direction: row-reverse;
    }
    .mobile-nav-icons, .mobile-nav-sub-top-menu{
        display: inline-block !important;
    }
    .mobile-nav-icons img{
        margin: 0 3px;
    }
    .navbar-brand{
        width: 110px;
        margin: 0;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    #navbarNav{
        position: absolute;
        right: 0;
        top: 53px;
        background-color: #fff;
        justify-content: initial;
        z-index: 9;
    }
    .mobile-nav-sub-top-menu{
        background: #000;
        display: flex !important;
        align-items: flex-end;
        width: 100%;
        height: 80px;
        padding: 20px 15px;
    }
    html[dir="rtl"] .mobile-nav-sub-top-menu{
        gap: 7px;
    }
    .sm-lang-drp-wrap{
        margin-right: 10px;
    }
    .sm-lang-drp-wrap .btn-group{
        vertical-align: inherit;
    }
    .sm-top-nav-link{
        font: 12px 'Helvetica_NeueLT', sans-serif;
        font-weight: 600;
        color: rgba(255,255,255,62%);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sm-top-nav-link span{
        margin: 0 10px;
    }
    .sm-top-nav-link::after{
        display: none;
    }
    .sm-top-nav-link ~ .dropdown-menu{
        padding: 5px 10px;
        font: 12px 'Helvetica_NeueLT', sans-serif;
    }
    .sm-top-nav-link ~ .dropdown-menu li span{
        margin-left: 10px;
    }
    .main-text{
        font: 14px 'Helvetica_NeueLT', sans-serif;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }
    ul.navbar-nav{
        display: initial;
    }
    .navbar-nav .nav-item:after, .sm-d-none{
        display: none;
    }
    .section-title-wrap span, .section-title-without-see-more{
        font: 16px 'Helvetica_Neu_Bold', sans-serif;
    }
    .section-title-wrap .see-more-link{
        font: 10px 'Helvetica_Neu_Bold', sans-serif;
        padding: 8px 12px;
    }
    .section-title-wrap, .best-seller-container{
        padding: 8px 15px;
    }
    .company-logo-row {
        padding: 8px 7px;
    }
    .px-7{
        padding-left: 3px;
        padding-right: 3px;
    }
    .pb-15{
        padding-bottom: 6px !important;
    }
    .company-logo-box{
        height: 55px;
        padding: 3px;
        margin-bottom: 6px;
    }
    .brand-box, .internet-card-box{
        height: 55px;
    }
	.internet-card-box::after{
        display: none;
    }
    .internet-card-box a{width: 100%;}
    .section-title-without-see-more{
        margin-bottom: 7px;
    }
    .best-seller-carousel-container .owl-carousel .item{
        padding: 0;
    }
    .brands-wrap{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 6px;
    }
    .brand-row{
        padding: 8px 0;
    }
    .internet-card-container{
        display: none;
    }
    .sm-internet-card-container, .sm-dropdowns-container{
        display: block;
    }
    .sm-internet-card-container .internet-card-wrap{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 6px;
    }
    .special-num-grid{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 50px;
        grid-row-gap: 10px;
    }
    .special-numbers-list{
        max-height: 190px;
    }
    .special-numbers-list li {
        font: 18px 'Helvetica_Neu_Bold', sans-serif;
    }
    .banner-community-carousel.owl-carousel .item{
        padding: 8px;
    }
    .pagination-wrap .page-item.pagination-prev-wrap {
        margin-right: 10px;
    }
    .pagination-wrap .page-item.pagination-next-wrap {
        margin-left: 10px;
    }
    .pagination-wrap .page-item .page-link{
        font: 11px 'Helvetica_Neu_Bold', sans-serif;
        padding: 5px 8px;
    }
    .pagination-icon{
        width: 20px;
    }
    .pagination-wrap{
        margin-top: 20px;
    }
    .banner-carousel.otherPage-Carousel .carousel-indicators {
        bottom: 0;
    }
    .company-promo{
        margin: 0;
    }
    .company-promo .brand-box{
        margin: 0 15px;
        width: 100%;
        height: 100%;
    }
    .tabs-bg .nav-pills-container{
        padding: 15px 7px;
    }
    .tabs-bg .nav-pills-container .nav-fill .nav-item .nav-link{
        font-size: 10px;
        padding: 6px 10px;
    }
    .tabs-bg .nav-fill .nav-item{
        flex: 0 auto;
    }
    .tabs-bg .nav-pills-container .nav-fill{
        gap: 7px;
        justify-content: center;
    }
    .tabs-bg .nav-pills-container .eg-category.nav-fill{
        gap: 10px;
    }
    .company-category-tabs{
        padding: 0px 15px;
    }
    .tab-section-title{
        font-size: 14px;
    }
    .line-img, .arrow-wrap{
        display: none;
    }
    .company-category-tabs .best-seller-owl-carousel .item{
        padding: 5px 10px;
    }
    .company-category-tabs .best-seller-owl-carousel .owl-prev {
        left: -8px !important;
    }
    .company-category-tabs .best-seller-owl-carousel .owl-next {
        right: -8px !important;
    }
    .product-title{
        font-size: 12px;
    }
    .p-desc, .p-code, .p-warn-text{
        font-size: 11px;
    }
    .product-price-wrap .product-discount-price, .product-price-wrap .product-actual-price{
        font-size: 14px;
    }
    .product-button-wrap .btn-dark{
        font-size: 10px;
        padding: 4px 6px;
    }
    .tab-section-title{
        padding-top: 10px;
    }
    .best-seller-product-details{
        padding: 6px;
    }
    #all-phones{
        padding: 0px 15px;
    }
    .sm-drp-link, .product-drp-wrap .dropdown-menu{
        font: 11px 'HelveticaNeue', sans-serif;
        color: #000;
        text-decoration: none;
    }
    .product-drp-wrap .dropdown-menu{
        padding: 10px;
    }
    .product-drp-wrap .dropdown-menu li{
        margin-bottom: 5px;
    }
    .sm-dropdowns-container .dropdown-wrap{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 4px;
    }
    .sm-dropdowns-container .product-drp-wrap{
        display: inline-block;
    }
    .comp-cat-pad{
        padding: 15px 30px;
    }
    .sm-mt-30{
        padding-top: 30px;
    }
    .sm-bg-gary{
        background-color: #F2F3F6;
    }
    #all-phones .best-seller-carousel-container .owl-carousel .item{
        background-color: #fff;
    }
    .button-container{
        margin-top: 25px;
    }
    .btn-wrap{
        margin-bottom: 12px;
    }
    .plus-minus-wrap{
        width: 30%;
        margin: 0 auto;
    }
    .plus-minus-wrap .h-25{
        height: 25px !important;
    }
    .plus-minus-wrap button{
        display: flex;
        align-items: center;
        color: #0C65FF;
        font: 11px 'Helvetica_Neu_Bold', sans-serif;
        border-color: #707070 !important;
        border-radius: unset;
    }
    .plus-minus-wrap input{
        font: 11px 'Helvetica_Neu_Bold', sans-serif;
        border-color: #707070 !important;
    }
    .electronics-img-wrap{
        padding: 25px 7px;
    }
    .px-150-py-40{
        padding: 8px 15px;
    }
    .sm-px-15{
        padding: 0 15px !important;
    }
    .sm-px-0{
        padding: 10px 0px !important;
    }
    .sm-mb-15{
        margin-bottom: 15px;
    }
    .sm-mt-30{
        margin-top: 30px;
    }
    .lite-section-title{
        font-size: 14px;
        padding: 5px 15px;
    }
    .brand-page-mobile-logo-wrap .brand-box a img{
        height: 100%;
    }
    .brand-page-mobile-logo-wrap .brand-box{
        background: #fff !important;
        border-bottom: none !important;
    }
    .brand-page-mobile-logo-wrap .brands-wrap .brand-box-line:not(:first-child)::after{
        display: none;
    }
    .s-numbers-list{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
        row-gap: 15px;
        margin-top: 10px;
    }
    .s-number-link, .s-number-link2, .align-item-center-wrap .btn, .company-input-label, .company-input, .company-textarea, .price-label{
        font-size: 13px;
    }
    .special-number-row .dropdown-wrap{
        text-align: center;
    }
    .special-number-big .s-number-link{
        margin: 20px 0;
        letter-spacing: 3px;
    }
    .sc-numbers-list{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;
        row-gap: 10px;
    }
    .align-item-center-wrap{
        display: grid;
        row-gap: 10px;
    }
    .sn-num-img{
        width: 50%;
    }
    .sn-price-wrap{
        display: grid;
    }
    .sn-price{
        font-size: 26px;
    }
    .other-label {
        font-size: 13px;
        border-bottom: 1px solid #707070;
        margin-bottom: 10px;
    }
    .internet-card-landing-page{
        padding: 15px;
    }
    .internet-card-category-wrapper .best-seller-card{
        box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 9%), 0px 0px 4px 0 rgb(255 255 255 / 40%), inset 2px 2px 6px 1px rgb(0 0 0 / 9%), 0px 0px 12px 0 rgb(255 255 255 / 40%);
    }
    .section-title-wrap .regular-font, .back-link{
        font-size: 10px;
    }
    .brand-box img, .internet-card-box img{
        height: 100%;
    }
    .workshop-items-container{
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 10px;
    }
    .workshop-item{
        padding: 7px 15px;
    }
    .sm-text-center{
        text-align: center;
    }
    .sm-mt-25{
        margin-top: 25px;
    }
    .sm-bg-light-grey{
        background: #F2F3F6;
    }
    .maintenance-title-wrap{
        font-size: 22px;
    }
    .work-shop-checkbox-wrap .form-check{
        padding-left: 0;
    }
    .automotive-items-container{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }
    .home-item::after{
        display: none;
    }
    .home-item a{
        margin: 0;
        height: 50px;
    }
    .workshop-items-container.mobile-view-grid{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;
    }
    .home-item p{
        font-size: 11px;
    }
    .automotive-category-container .brand-box{
        padding: 10px;
    }
    .automotive-category-input-wrap input{
        font-size: 12px;
    }
    .automotive-category-input-wrap{
        gap: 15px;
    }
    .see-more-link {
        font: 10px 'Helvetica_Neu_Bold', sans-serif;
        padding: 8px 12px;
    }
    .section-title-big{
        font-size: 30px;
    }
    .celebrities-section{
        padding: 30px 15px;
    }
    .celebrity-img-wrap{
        width: 100%;
        top: -50%;
        padding: 0;
    }
    .celebrity-img-wrap img{
        box-shadow: 0px 0px 0px 0 rgb(0 0 0 / 6%), 9px 0px 16px 0 rgb(255 255 255 / 60%);
    }
    .celebrity-info-wrap{
        margin-top: 100px;
    }
    .celebrities-card-wrap{
        padding: 0px;
    }
    .celebrity-name{
        font-size: 12px;
    }
    .celebrity-profile-info, .celebrity-product-info{
        font-size: 12px;
    }
    .celebrities-card-grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 15px 30px;
        gap: 10px;
    }
    .celebrities-video video{
        height: 100%;
    }
    .sm-celebrities-cards{
        box-shadow: none;
        margin-top: 110px;
    }
    .sm-w-100{
        width: 100%;
    }
    .sm-mt-30{
        margin-top: 30px;
    }
    .sm-mt-25{
        margin-top: 25px;
    }
    .my-acc-info.mb-4{
        margin-bottom: 5px !important;
    }
    .my-acc-info.mt-4{
        margin-top: 5px !important;
    }
    .signup-container{
        width: 100%;
    }
    .auth-form .row>*{
        margin-top: 5px;
    }
    .auth-form .row.mt-4{
        margin-top: 12px !important;
    }
    .myAccount-left-nav{
        border: unset;
        padding-right: 0;
    }
    html[dir="rtl"] .myAccount-left-nav{
        border: unset;
        padding-right: 0;
        padding-left: 0;
    }
    html[dir="rtl"] .myAccount-left-nav ul{
        padding-right: 0;
    }
    html[dir="rtl"] .navbar-nav{
        padding-right: 15px;
    }
    .my-account-right-content-wrapper{
        padding-left: 0;
        margin-top: 30px;
        padding-top: 30px;
        border-top: 5px solid #707070;
    }
    .edit-profile-wrap{
        display: grid;
        row-gap: 10px;
        margin: 15px auto;
    }
    .cart-item-product-title, .cart-item-remove-move-wrap a, .cart-select-price .form-select, .cart-select-price .cart-price{
        font-size: 12px;
    }
    .cart-item-card i.fa-times{
        right: 8px;
        top: 4px;
    }
    .competition-box .modal-header{
        display: none;
    }
    .competition-box .modal-body{
        background-color: #fff;
        box-shadow: none;
        border-bottom: 1px solid rgba(0,0,0,.2);
        padding: 30px;
        font-size: 15px;
    }
    .competition-box .ribbon-img, .competition-box .gray-ribbon-img{
        display: none;
    }
    .competition-box .modal-content{
        box-shadow: 0px 2px 6px 2px rgba(0,0,0,10%);
        margin-bottom: 30px;
        border: none;
    }
    .checkout-order-card {
        display: grid;
        align-items: center;
        gap: 15px;
    }
    .checkout-table thead{
        font-size: 14px;
        border-bottom: 1px solid #707070;
    }
    .checkout-order-title, .checkout-order-desc{
        font-size: 11px;
        margin-bottom: 5px;
    }
    .checkout-table tbody tr{
        border-bottom: 1px solid #707070;
    }
    .checkout-table tbody tr td{
        font-size: 11px;
    }
    .agree-text{
        font-size: 13px !important;
    }
    .payment-card-wrap{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 15px;
    }
    .checkout-payement-container .btn-login{
        width: 100%;
    }
}

@media (max-width: 767px) {
    body.active{
        background: rgba(0,0,0,0.7);
    }
    .top-nav{
        padding: 4px 10px;
    }
    .top-nav-element-wrap{
        justify-content: space-between;
    }
    .country-start-text, .top-nav-link .country-icon, .account-wrap{
        display: none;
    }
    #navbarNav.collapse:not(.show){
        display: none !important;
    }
    nav.navbar{
        padding: 5px 10px;
    }
    .navbar>.container-fluid{
        flex-direction: row-reverse;
    }
    .mobile-nav-icons, .mobile-nav-sub-top-menu{
        display: inline-block !important;
    }
    .mobile-view-grid{
        display: grid !important;
    }
    .mobile-nav-icons img{
        margin: 0 3px;
    }
    .navbar-brand{
        width: 110px;
        margin: 0;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    #navbarNav{
        position: absolute;
        right: 0;
        top: 53px;
        background-color: #fff;
        justify-content: initial;
        z-index: 9;
    }
    .mobile-nav-sub-top-menu{
        background: #000;
        display: flex !important;
        align-items: flex-end;
        width: 100%;
        height: 80px;
        padding: 20px 15px;
    }
    .sm-lang-drp-wrap{
        margin-right: 10px;
    }
    .sm-lang-drp-wrap .btn-group{
        vertical-align: inherit;
    }
    .sm-top-nav-link{
        font: 12px 'Helvetica_NeueLT', sans-serif;
        font-weight: 600;
        color: rgba(255,255,255,62%);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sm-top-nav-link span{
        margin: 0 10px;
    }
    .sm-top-nav-link::after{
        display: none;
    }
    .sm-top-nav-link ~ .dropdown-menu{
        padding: 5px 10px;
        font: 12px 'Helvetica_NeueLT', sans-serif;
    }
    .sm-top-nav-link ~ .dropdown-menu li span{
        margin-left: 10px;
    }
    .main-text{
        font: 14px 'Helvetica_NeueLT', sans-serif;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }
    ul.navbar-nav{
        display: initial;
    }
    .navbar-nav .nav-item:after, .sm-d-none{
        display: none;
    }

    /* Footer */
    .footer{
        padding: 32px 5px 50px;
    }
    .sm-footer-input-container{
        display: inline-block;
        /* margin-top: 20px; */
    }
    .stay-in-touch-text{
        font-size: 10px;
        margin-top: 10px;
    }
    .center-align{
        justify-content: space-between;
        align-items: baseline;
    }
    .footer-email-input input{
        height: 36px;
    }
    .footer-logo{
        width: 65px;
    }
    .footer-links ul{
        padding-left: 5px;
    }
    .footer-links ul li a{
        font-size: 11px
    }
    .footer-input-container{
        display: none;
    }
    .footer-links{
        justify-content: space-between;
    }
    .social-icon-wrap{
        height: auto;
        margin-top: 10px;
        justify-content: space-evenly;
    }
    .sm-copyright-text{
        margin-top: 10px;
        margin-bottom: 0;
        color: #fff;
        font: 14px 'HelveticaNeue', sans-serif;
        text-align: left;
        display: inline-block;
        padding: 0 40px;
    }
    .bannerModel-box, .sm-none, .dash{
        display: none;
    }
    .lg-none{
        display: block;
    }
    .banner-community-persons-wrap{
        padding: 15px 30px;
    }
    .owl-prev i, .owl-next i{
        font-size: 25px;
    }
    .owl-prev{
        left: -25px;
    }
    .owl-next{
        right: -25px;
    }
    .owl-carousel .item{
        padding: 10px;
    }
    .com-details{
        font-size: 9px;
    }
    .banner-avatar{
        width: 45px !important;
    }
    .banner-community-persons-wrap{
        bottom: -60px;
    }
    .mouse-scroll-wrap{
        padding: 80px 0 50px 0;
    }
    .banner-carousel .carousel-caption h5{
        font-size: 25px;
    }
    .banner-carousel .carousel-caption p{
        font-size: 12px;
    }
    .banner-carousel .carousel-caption{
        left: 15px;
        top: 32%;
    }
    .banner-carousel .carousel-caption a{
        margin-top: 5px;
    }
    .banner-carousel.home-carousel .carousel-indicators{
        bottom: 30px;
    }
    .banner-carousel .carousel-indicators [data-bs-target]{
        width: 7px;
        height: 7px;
        margin: 0 5px;
    }
    .celebrities-section .owl-prev{
        left: -6px;
        top: 60%;
    }
    .celebrities-section .owl-next{
        right: -6px;
        top: 60%;
    }
	.home-carousel .carousel-item{
		height:230px;
	}
    .profile-edit-form-wrap{
        width: 100%;
        margin: 0 auto;
    }
    .home-carousel{
        margin-bottom: 65px;
    }
    .mouse-scroll-wrap{
        display: none;
    }
    .promo-shop-section-container{
        height: 65px;
    }
    .promo-shop-section-container a{
        display: block;
        height: 100%;
    }
    .promo-shop-section-container a img{
        height: 100%;
        width: 100%;
    }
    #wire-video{height: 100%;}
    .footer .center-align{
        gap: 30px;
    }
}

@media (max-width: 560px) {
    .special-imgs-inner-wrap{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* Please uncomment to apply scroll */
        /* height: 400px;
        overflow-y: auto; */
    }
    .special-imgs-link{
        width: calc(100% - 50px);
    }
    .special-num-text{
        font: 28px 'HelveticaNeue', sans-serif;
    }
    .special-num-kdtext {
        font: 24px 'HelveticaNeue', sans-serif;
    }
}