/* Author - Raj Kumar || Date - 20-04-2022 */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueMed.ttf')
}
@font-face {
    font-family: 'Helvetica_Medium';
    src: url('../fonts/HelveticaNeue_Medium.ttf')
}
@font-face {
    font-family: 'Helvetica_Light';
    src: url('../fonts/HelveticaNeue_Light.ttf')
}
@font-face {
    font-family: 'Helvetica_Neu_Bold';
    src: url('../fonts/Helvetica_Neu_Bold.ttf')
}

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Global */
/* :root {
    --blue: #1e90ff;
    --white: #ffffff;
} */
.bg-dark, .btn-dark{
    background-color: #000 !important;
}
.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.px-12-py-0{
    padding: 0 12px;
}
.px-lg-30{
    padding: 0 30px;
}
.pr-lg-30{
    padding-right: 30px;
}
.pl-lg-30{
    padding-right: 30px;
}
.pb-15{
    padding-bottom: 15px !important;
}
.px-7{
    padding-left: 7px;
    padding-right: 7px;
}
.mr-10{
    margin-right: 10px;
}

/* Top Navigation */
.top-nav{
    padding: 8px 150px;
}
.top-nav-element-wrap{
    display: flex;
    align-items: center;
    justify-content: end;
}
.lang-drp-wrap{
    margin: 0 20px;
}
.lang-drp-wrap .btn-group{
    vertical-align: inherit;
}
.top-nav-link{
    font: 12px 'HelveticaNeue', sans-serif;
    /* font-weight: 600; */
    color: rgba(255,255,255,62%);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-nav-link span{
    margin: 0 10px;
}
.top-nav-link::after{
    display: none;
}
.top-nav-link ~ .dropdown-menu{
    padding: 5px 10px;
    font: 12px 'HelveticaNeue', sans-serif;
}
.top-nav-link ~ .dropdown-menu li span{
    margin-left: 10px;
}
.account-wrap{
    display: flex;
    align-items: center;
    color: #fff;
    font: 12px 'HelveticaNeue', sans-serif;
    /* font-weight: 600; */
    text-transform: uppercase;
}
.account-wrap span{
    margin-left: 10px;
}
/* Navbar */
.mobile-nav-icons,.mobile-nav-sub-top-menu{
    display: none;
}
nav.navbar{
    padding: 8px 150px;
}
ul.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: end;
}
.navbar-nav .nav-item{
    position: relative;
    font: 12px 'HelveticaNeue', sans-serif;
    /* font-weight: 600; */
}
.navbar-nav .nav-item .nav-link{
    padding: 8px 12px;
}
.navbar-nav .nav-item:after{
    content: '|';
    color: #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#navbarNav{
    display: grid !important;
    align-items: center;
    justify-content: end;
}
.after-none::after{
    display: none;
}
.nav-search-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-search{
    width: 155px;
    height: 24px;
    position: relative;
    padding: 6px 30px 6px 10px;
    font: 12px 'HelveticaNeue', sans-serif;
    /* font-weight: 600; */
    background-color: #EBEBEB;
    border: none;
}
.nav-search:focus{
    outline: none;
    box-shadow: none;
}
.nav-search::placeholder{
    color: rgba(0,0,0,50%);
}
.search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Footer */
.footer{
    padding: 80px 150px;
}
.footer-links{
    display: flex;
    justify-content: space-around;
}
.footer-links ul{
    list-style: none;
}
.footer-links ul li a{
    font: 14px 'Helvetica_Medium', sans-serif;
    color: #fff;
    text-decoration: none;
}
.footer-email-input{
    position: relative;
}
.footer-email-input input{
    background: #000;
    color: #fff;
    font: 12px 'HelveticaNeue', sans-serif;
    border: 2px solid #fff;
    height: 42px;
}
.footer-email-input input::placeholder{
    color: #fff;
}
.footer-email-input input:focus{
    outline: none;
    box-shadow: none;
}
.footer-email-input .email-send{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.stay-in-touch-text{
    color: #fff;
    font: 12px 'HelveticaNeue', sans-serif;
    text-align: center;
    margin-top: 20px;
}
.copyright-text{
    margin-top: 70px;
    color: #fff;
    font: 14px 'HelveticaNeue', sans-serif;
    text-align: center;
}
.social-icon-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}
.sm-footer-input-container, .sm-copyright-text{
    display: none;
}

/* Banner */
.banner-community-persons-wrap{
    position: absolute;
    background: rgba(255,255,255,50%);
    bottom: 0;
    padding: 30px 150px;
    width: 100%;
}
.banner-carousel.home-carousel .carousel-indicators{
    bottom: 220px;
}
.banner-carousel.otherPage-Carousel .carousel-indicators{
    bottom: 25px;
}
.banner-carousel .carousel-caption{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 150px;
    width: max-content;
    text-align: left;
}
.banner-carousel .carousel-caption h5, .banner-carousel .carousel-caption p, .banner-carousel .carousel-caption a, .bannerModel-box .modal-content{
    font-family: 'HelveticaNeue', sans-serif;
}
.banner-carousel .carousel-caption h5{
    font-size: 52px;
    text-transform: uppercase;
    color: #000;
}
.banner-carousel .carousel-caption p{
    font-size: 20px;
}
.dash{
    height: 4px;
    background: #000;
    width: 16px;
}
.banner-carousel .carousel-caption a{
    margin-top: 45px;
}
.banner-carousel .carousel-indicators .active{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid transparent;
    outline: 1px solid #000;
    background-color: #fff;
}
.banner-carousel .carousel-indicators [data-bs-target]{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid transparent;
    outline: 1px solid #000;
    margin: 0 15px;
}
.bannerModel-box{
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    right: 150px;
    width: 315px;
}
.bannerModel-box .modal-header{
    background-color: #000;
    height: 80px;
    position: relative;
}
.bannerModel-box .btn-close{
    background: none;
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px;
}
.bannerModel-box .modal-body{
    text-align: center;
    padding: 50px;
}
.bannerModel-box .modal-body p{margin-bottom: 0;}
.ribbon-img{
    height: 130px;
    width: 55px;
    position: absolute;
    z-index: 9;
    left: 12px;
}
.banner-community-carousel.owl-carousel .item{
    background: #EDEEF2;
    border-radius: 20px;
    padding: 20px;
    margin-right: 6px;
}
.banner-com-card{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.com-details{
    font: 14px 'Helvetica_Light', sans-serif;
    display: grid;
    margin-left: 10px;
}
.com-avatar{
    background: #fff;
    border-radius: 100px;
    padding: 5px;
    box-shadow: 3px 3px 7px 3px #d2d2d2;
}
.banner-avatar{
    width: 65px;
}
.owl-dots{
    display: none;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: rgba(0,0,0,0.7);
    
}
.owl-prev i, .owl-next i{
    font-size: 35px;
}
.owl-prev{
    left: -40px;
}
.owl-next{
    right: -40px;
}
.mouse-scroll-wrap{
    padding: 50px 0;
    text-align: center;
}
.lg-none{
    display: none;
}

/* Section titles */
.section-title-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F3F6;
    padding: 30px 150px;
    border-top: 1px solid #B4B5B9;
    border-bottom: 1px solid #B4B5B9;
    margin-bottom: 0;
}
.section-title-wrap span{
    font: 30px 'Helvetica_Neu_Bold', sans-serif;
    text-transform: uppercase;
}
.section-title-wrap .see-more-link{
    box-shadow: inset 3px 3px 6px -2px rgb(88 108 138 / 50%);
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
    text-decoration: none;
    color: #343A40;
    padding: 12px;
    border-radius: 25px;
}
.section-title-wrap .see-more-link:hover{
    box-shadow: 3px 3px 6px -2px rgb(88 108 138 / 50%);
}

/* Company section */
.company-logo-row{
    padding: 40px 150px;
    background-image: linear-gradient(to bottom, #F8F8FC, #E1E2E8)
}
.company-logo-box img{
    width: 100%;
    height: 100%;
}
.company-logo-box{
    background: #fff;
    text-align: center;
    border: 1px solid #707070;
    padding: 5px;
    margin-bottom: 15px;
    height: 130px;
}
.company-video-box{
    border: 1px solid #707070;
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Best Seller */
.section-title-without-see-more{
    font: 30px 'Helvetica_Neu_Bold', sans-serif;
    margin-bottom: 45px;
}
.best-seller-container{
    padding: 40px 150px;
}
.best-seller-product-img-wrap{
    background: #F5F5F5;
    padding: 20px 30px;
}
.best-seller-product-img-wrap img{
    width: auto !important;
    height: 134px;
    margin: 0 auto;
}
.best-seller-product-details{
    border: 2px solid #E8E8E8;
    border-top: unset;
    padding: 15px;
}
.product-title{
    font: 15px 'Helvetica_Neu_Bold', sans-serif;
}
.product-desc{
    font: 12px 'Helvetica_Neu_Bold', sans-serif;
    color: #A6ADB4;
    margin-bottom: 5px;
}
.product-desc-wran{
    font: 12px 'Helvetica_Neu_Bold', sans-serif;
    color: #0069D9;
    margin-bottom: 0;
}
.product-price-wrap, .product-button-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-price-wrap{
    margin: 15px 0;
}
.product-price-wrap .product-discount-price{
    font: 15px 'Helvetica_Neu_Bold', sans-serif;
}
.product-price-wrap .product-actual-price{
    color: #7E7F84;
    font: 15px 'HelveticaNeue', sans-serif;
    text-decoration: line-through;
}
.product-button-wrap img{
    width: auto !important;
}

/* Promo Section */
.promo-shop-section-container{
    background-image: radial-gradient(#F1F2F2, #EDEEEE, #E1E2E3, #CED0D1, #BCBEC0);
    padding: 40px 150px;
    margin-bottom: 10px;
}
.promo-shop-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.promo-stars{
    max-width: 43%;
}
/* .promo-feedback{
    width: 300px;
} */
.promo-text-wrap{
    text-align: center;
}
.promo-text-wrap h1{
    font: 52px 'Helvetica_Neu_Bold', sans-serif;
}
.promo-text-wrap .btn-promo-shop{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px 30px;
    margin-top: 20px;
    font: 32px 'Helvetica_Neu_Bold', sans-serif;
}

/* Brand */
.brand-row{
    padding: 40px 150px;
    background-color: #fff;
}
.brands-wrap{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.brand-box, .internet-card-box {
    border: 1px solid #707070;
    padding: 3px;
    height: 130px;
}
.brand-box img, .internet-card-box img{
    width: 100%;
    height: 100%;
}

/* Internet cards */
.internet-card-container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.internet-card-wrap{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    position: relative;
}
.internet-card-wrap::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #707070;
    right: -24%;
}
.internet-card-wrap:last-child::after{
    display: none;
}
.sm-internet-card-container{
    display: none;
}

/* Special Numbers */
.special-num-img{
    border: 1px solid #707070;
    width: 100%;
}
.special-numbers-list{
    list-style: none;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    max-height: 298px;
    overflow-y: auto;
}
.special-numbers-list li{
    font: 32px 'Helvetica_Neu_Bold', sans-serif;
    margin-bottom: 8px;
}
.special-numbers-list li.text-red{
    color: #EC1C24;
}
.special-numbers-list li.text-teal{
    color: #1696A1;
}
.special-numbers-list li.text-purple{
    color: #502C84;
}
.special-num-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 100px;
}


/* Company Page */
.back-link{
    color: #666666;
    text-decoration: none;
    font: 16px 'HelveticaNeue', sans-serif;
}
.back-link i{
    margin-right: 10px;
}
.pagination-wrap{
    margin-top: 40px;
}
.pagination-icon{
    width: 40px;
}
.pagination-wrap .page-item{
    display: flex;
    align-items: center;
}
.pagination-wrap .page-item .page-link{
    border: none;
    color: #000;
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
}
.pagination-wrap .page-item .page-link:focus{
    box-shadow: none;
}
.pagination-wrap .page-item .page-link:hover{
    border-radius: 100px;
}
.pagination-wrap .page-item.pagination-prev-wrap {
    margin-right: 70px;
}
.pagination-wrap .page-item.pagination-next-wrap {
    margin-left: 70px;
}
.pagination-wrap .page-item.active .page-link{
    background: #000;
    color: #fff !important;
    border-radius: 50px;
}

/* Company category */
.section-title-wrap.section-title-without-bg {
    background: #fff;
}
.section-title-wrap.section-title-without-bg span{
    font: 16px 'HelveticaNeue', sans-serif;
}
.company-promo{
    background: #EFF0F4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 150px;
}
.company-promo .brand-box{
    margin: 0 50px;
}
.video-container{
    border: 1px solid #707070;
}
.tabs-bg{
    background-color: #F2F3F6;
}
.nav-pills-container{
    padding: 30px 150px;
}
.nav-pills-container .nav-fill .nav-item .nav-link{
    background-image: linear-gradient(to right, #F2F3F6, #E5E6EC);
    padding: 16px 10px;
    color: #575F6B;
    text-transform: uppercase;
    font: 20px 'HelveticaNeue', sans-serif;
    border-radius: 40px;
    box-shadow: 6px 6px 10px 0 rgb(0 0 0 / 9%), -8px -8px 12px 0 rgb(255 255 255 / 40%);
}
.nav-pills-container .nav-fill .nav-item .nav-link:hover{
    box-shadow: inset 6px 6px 10px 1px rgb(0 0 0 / 9%), -8px -8px 12px 0 rgb(255 255 255 / 40%);
}
.nav-pills-container .nav-fill{
    gap: 75px;
}