/* Author - Raj Kumar || Date - 20-04-2022 */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueMed.ttf')
}
@font-face {
    font-family: 'Helvetica_Medium';
    src: url('../fonts/HelveticaNeue_Medium.ttf')
}
@font-face {
    font-family: 'Helvetica_Light';
    src: url('../fonts/HelveticaNeue_Light.ttf')
}
@font-face {
    font-family: 'Helvetica_Neu_Bold';
    src: url('../fonts/Helvetica_Neu_Bold.ttf')
}

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Global */
/* :root {
    --blue: #1e90ff;
    --white: #ffffff;
} */
.bg-dark, .btn-dark{
    background-color: #000 !important;
}
.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.px-12-py-0{
    padding: 0 12px;
}
.px-lg-30{
    padding: 0 30px;
}
.pr-lg-30{
    padding-right: 30px;
}
.pl-lg-30{
    padding-right: 30px;
}
.pb-15{
    padding-bottom: 15px !important;
}
.px-7{
    padding-left: 7px;
    padding-right: 7px;
}
.mt-20{
    margin-top: 20px;
}
.sm-px-15{
    padding: 0 !important;
}
.mr-10{
    margin-right: 10px;
}
.px-150-py-40{
    padding: 40px 150px;
}
.bg-light-grey{
    background: #F2F3F6;
}
.border-title{
    border: 1px solid #707070;
}
.video{
    object-fit: fill;
}
.carousel-item .video-container{
    padding: 0;
}

/* Top Navigation */
.top-nav{
    padding: 8px 150px;
}
.top-nav-element-wrap{
    display: flex;
    align-items: center;
    justify-content: end;
}
.lang-drp-wrap{
    margin: 0 20px;
}
.lang-drp-wrap .btn-group{
    vertical-align: inherit;
}
.top-nav-link{
    font: 12px 'HelveticaNeue', sans-serif;
    /* font-weight: 600; */
    color: rgba(255,255,255,62%);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-nav-link span{
    margin: 0 10px;
}
.top-nav-link::after{
    display: none;
}
.top-nav-link ~ .dropdown-menu{
    padding: 5px 10px;
    font: 12px 'HelveticaNeue', sans-serif;
}
.top-nav-link ~ .dropdown-menu li span{
    margin-left: 10px;
}
.account-wrap{
    display: flex;
    align-items: center;
    color: #fff;
    font: 12px 'HelveticaNeue', sans-serif;
    /* font-weight: 600; */
    text-transform: uppercase;
    text-decoration: none;
}
.account-wrap:hover{
    color: #ddd;
}
.account-wrap span{
    margin-left: 10px;
}
/* Navbar */
.mobile-nav-icons,.mobile-nav-sub-top-menu, .mobile-view-grid{
    display: none !important;
}
nav.navbar{
    padding: 8px 150px;
}
ul.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: end;
}
.navbar-nav .nav-item{
    position: relative;
    font: 12px 'HelveticaNeue', sans-serif;
    /* font-weight: 600; */
}
.navbar-nav .nav-item .nav-link{
    padding: 8px 12px;
}
.navbar-nav .nav-item:after{
    content: '|';
    color: #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#navbarNav{
    display: grid !important;
    align-items: center;
    justify-content: end;
}
.after-none::after{
    display: none;
}
.nav-search-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-search{
    width: 155px;
    height: 24px;
    position: relative;
    padding: 6px 30px 6px 10px;
    font: 12px 'HelveticaNeue', sans-serif;
    /* font-weight: 600; */
    background-color: #EBEBEB;
    border: none;
}
.nav-search:focus{
    outline: none;
    box-shadow: none;
}
.nav-search::placeholder{
    color: rgba(0,0,0,50%);
}
.search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.badge.rounded-pill{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    border-radius: 100px;
    color: #fff;
    font: 12px 'HelveticaNeue', sans-serif;
}

/* Footer */
.footer{
    padding: 80px 150px;
}
.footer-links{
    display: flex;
    justify-content: space-around;
}
.footer-links ul{
    list-style: none;
}
.footer-links ul li a{
    font: 14px 'Helvetica_Medium', sans-serif;
    color: #fff;
    text-decoration: none;
}
.footer-email-input{
    position: relative;
}
.footer-email-input input{
    background: #000;
    color: #fff;
    font: 12px 'HelveticaNeue', sans-serif;
    border: 2px solid #fff;
    height: 42px;
}
.footer-email-input input::placeholder{
    color: #fff;
}
.footer-email-input input:focus{
    outline: none;
    box-shadow: none;
}
.footer-email-input input:focus ~ .email-send-white{
    display: none;
}
.footer-email-input input:focus ~ .email-send-black{
    display: block;
}
.footer-email-input input ~ .email-send-black{
    display: none;
}
.footer-email-input .email-send{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.stay-in-touch-text{
    color: #fff;
    font: 12px 'HelveticaNeue', sans-serif;
    text-align: center;
    margin-top: 20px;
}
.copyright-text{
    margin-top: 70px;
    color: #fff;
    font: 14px 'HelveticaNeue', sans-serif;
    text-align: center;
}
.social-icon-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}
.sm-footer-input-container, .sm-copyright-text{
    display: none;
}

/* Banner */
.banner-community-persons-wrap{
    position: absolute;
    background: rgba(255,255,255,50%);
    bottom: 0;
    padding: 30px 150px;
    width: 100%;
}
.banner-carousel.home-carousel .carousel-indicators{
    bottom: 220px;
}
.banner-carousel.otherPage-Carousel .carousel-indicators{
    bottom: 25px;
}
.banner-carousel .carousel-caption{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 150px;
    width: max-content;
    text-align: left;
}
.banner-carousel .carousel-caption h5, .banner-carousel .carousel-caption p, .banner-carousel .carousel-caption a, .bannerModel-box .modal-content{
    font-family: 'HelveticaNeue', sans-serif;
}
.banner-carousel .carousel-caption h5{
    font-size: 52px;
    text-transform: uppercase;
    color: #000;
}
.banner-carousel .carousel-caption p{
    font-size: 20px;
}
.dash{
    height: 4px;
    background: #000;
    width: 16px;
}
.banner-carousel .carousel-caption a{
    margin-top: 45px;
}
.banner-carousel .carousel-indicators .active{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid transparent;
    outline: 1px solid #000;
    background-color: #fff;
}
.banner-carousel .carousel-indicators [data-bs-target]{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid transparent;
    outline: 1px solid #000;
    margin: 0 15px;
}
.bannerModel-box{
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    right: 150px;
    width: 315px;
}
.bannerModel-box .modal-header{
    background-color: #000;
    height: 80px;
    position: relative;
}
.bannerModel-box .btn-close{
    background: none;
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px;
}
.bannerModel-box .modal-body{
    text-align: center;
    padding: 50px;
}
.bannerModel-box .modal-body p{margin-bottom: 0;}
.ribbon-img{
    height: 130px;
    width: 55px;
    position: absolute;
    z-index: 9;
    left: 12px;
}
.banner-community-carousel.owl-carousel .item{
    background: #EDEEF2;
    border-radius: 20px;
    padding: 20px;
    margin-right: 6px;
}
.banner-com-card{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    /* justify-content: center; */
}
.banner-com-card:hover{
    color: #000;
}
.com-details{
    font: 14px 'Helvetica_Light', sans-serif;
    display: grid;
    margin-left: 10px;
}
.com-avatar{
    background: #fff;
    border-radius: 100px;
    padding: 5px;
    box-shadow: 3px 3px 7px 3px #d2d2d2;
}
.banner-avatar{
    width: 65px;
}
.owl-dots{
    display: none;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: rgba(0,0,0,0.7);
    
}
.owl-prev i, .owl-next i{
    font-size: 35px;
}
.owl-prev{
    left: -40px;
}
.owl-next{
    right: -40px;
}
.mouse-scroll-wrap{
    padding: 50px 0;
    text-align: center;
}
.lg-none{
    display: none;
}

/* Section titles */
.section-title-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F3F6;
    padding: 30px 150px;
    border-top: 1px solid #B4B5B9;
    border-bottom: 1px solid #B4B5B9;
    margin-bottom: 0;
}
.section-title-wrap span{
    font: 30px 'Helvetica_Neu_Bold', sans-serif;
    text-transform: uppercase;
}
.section-title-wrap .see-more-link{
    box-shadow: inset 3px 3px 6px -2px rgb(88 108 138 / 50%);
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
    text-decoration: none;
    color: #343A40;
    padding: 12px;
    border-radius: 25px;
}
.section-title-wrap .see-more-link:hover{
    box-shadow: 3px 3px 6px -2px rgb(88 108 138 / 50%);
}

/* Company section */
.company-logo-row{
    padding: 40px 150px;
    background-image: linear-gradient(to bottom, #F8F8FC, #E1E2E8)
}
.company-logo-box a{
    text-transform: none;
    display: block;
    height: 100%;
}
.company-logo-box img{
    width: 100%;
    height: 100%;
}
.company-logo-box{
    background: #fff;
    text-align: center;
    border: 1px solid #707070;
    padding: 5px;
    margin-bottom: 15px;
    height: 130px;
}
.company-video-box, .video-container{
    border: 1px solid #707070;
    padding: 5px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
}
.video-container .playpause{
    width: 80px;
}
.playpause {
    background-image:url('../img/playbutton.png');
    background-repeat:no-repeat;
    width:15%;
    /* height:50%; */
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

/* Best Seller */
.section-title-without-see-more{
    font: 30px 'Helvetica_Neu_Bold', sans-serif;
    margin-bottom: 45px;
}
.best-seller-container{
    padding: 40px 150px;
}
.best-seller-card a{
    text-decoration: none;
    display: block;
}
.best-seller-product-img-wrap{
    background: #F5F5F5;
    padding: 20px 30px;
    display: block;
    text-align: center;
}
.best-seller-product-img-wrap img{
    width: auto !important;
    height: 134px;
    margin: 0 auto;
}
.best-seller-product-details{
    border: 2px solid #E8E8E8;
    border-top: unset;
    padding: 15px;
}
.product-title, .p-desc{
    font: 15px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
}
.product-desc{
    font: 12px 'Helvetica_Neu_Bold', sans-serif;
    color: #A6ADB4;
    margin-bottom: 5px;
}
.product-desc-wran{
    font: 12px 'Helvetica_Neu_Bold', sans-serif;
    color: #0069D9;
    margin-bottom: 0;
}
.product-price-wrap, .product-button-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-price-wrap{
    margin: 15px 0;
}
.product-price-wrap .product-discount-price{
    font: 15px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
}
.product-button-wrap{
    font: 15px 'Helvetica_Neu_Bold', sans-serif;
}
.product-price-wrap .product-actual-price{
    color: #7E7F84;
    font: 15px 'HelveticaNeue', sans-serif;
    text-decoration: line-through;
}
.product-button-wrap img{
    width: auto !important;
}

/* Promo Section */
/* .promo-shop-section-container{
    background-image: radial-gradient(#F1F2F2, #EDEEEE, #E1E2E3, #CED0D1, #BCBEC0);
    padding: 40px 150px;
    margin-bottom: 10px;
}
.promo-shop-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.promo-stars{
    max-width: 43%;
} */
/* .promo-feedback{
    width: 300px;
} */
/* .promo-text-wrap{
    text-align: center;
}
.promo-text-wrap h1{
    font: 52px 'Helvetica_Neu_Bold', sans-serif;
}
.promo-text-wrap .btn-promo-shop{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px 30px;
    margin-top: 20px;
    font: 32px 'Helvetica_Neu_Bold', sans-serif;
} */

/* Brand */
.brand-row{
    padding: 40px 150px;
    background-color: #fff;
}
.brands-wrap{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.brand-box, .internet-card-box {
    border: 1px solid #707070;
    padding: 3px;
    height: 130px;
}
.brand-box a, .internet-card-box a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.brand-box img, .internet-card-box img{
    /* width: 100%; */
    /* height: 100%; */
}

/* Internet cards */
.internet-card-container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.internet-card-wrap{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    position: relative;
}
.internet-card-wrap::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #707070;
    right: -24%;
}
.internet-card-wrap:last-child::after{
    display: none;
}
.sm-internet-card-container{
    display: none;
}

/* Special Numbers */
.special-num-img{
    border: 1px solid #707070;
    width: 100%;
}
.special-numbers-list{
    list-style: none;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    max-height: 298px;
    overflow-y: auto;
}
.special-numbers-list li{
    font: 32px 'Helvetica_Neu_Bold', sans-serif;
    margin-bottom: 8px;
}
.special-numbers-list li a{
    text-decoration: none;
}
.special-numbers-list li a:hover{
    text-decoration: none;
}
.special-numbers-list .text-red, .text-red{
    color: #EC1C24;
}
.special-numbers-list .text-teal, .text-teal{
    color: #1696A1;
}
.special-numbers-list .text-purple, .text-purple{
    color: #502C84;
}

.special-numbers-list .text-red:hover, .text-red:hover{
    color: #EC1C24;
}
.special-numbers-list .text-teal:hover, .text-teal:hover{
    color: #1696A1;
}
.special-numbers-list .text-purple:hover, .text-purple:hover{
    color: #502C84;
}

.special-num-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 100px;
}


/* Company Page */
.back-link{
    color: #666666;
    text-decoration: none;
    font: 16px 'HelveticaNeue', sans-serif;
}
.back-link i{
    margin-right: 10px;
}
.pagination-wrap{
    margin-top: 40px;
}
.pagination-icon{
    width: 40px;
}
.pagination-wrap .page-item{
    display: flex;
    align-items: center;
}
.pagination-wrap .page-item .page-link{
    border: none;
    color: #000;
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
    background: transparent;
}
.pagination-wrap .page-item .page-link:focus{
    box-shadow: none;
}
.pagination-wrap .page-item .page-link:hover{
    border-radius: 100px;
}
.pagination-wrap .page-item.pagination-prev-wrap {
    margin-right: 70px;
}
.pagination-wrap .page-item.pagination-next-wrap {
    margin-left: 70px;
}
.pagination-wrap .page-item.active .page-link{
    background: #000;
    color: #fff !important;
    border-radius: 50px;
}

/* Company category */
.section-title-wrap.section-title-without-bg {
    background: #fff;
}
.section-title-wrap.section-title-without-bg span{
    font: 16px 'HelveticaNeue', sans-serif;
}
.company-promo{
    background: #EFF0F4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 150px;
}
.company-promo .brand-box{
    margin: 0 50px;
}
/* .video-container{
    border: 1px solid #707070;
} */
.tabs-bg{
    background-color: #F2F3F6;
}
.nav-pills-container{
    padding: 30px 150px;
}

.nav-pills-container .nav-fill .nav-item .nav-link{
    background-image: linear-gradient(to right, #F2F3F6, #E5E6EC);
    padding: 16px 10px;
    color: #575F6B;
    text-transform: uppercase;
    font: 20px 'HelveticaNeue', sans-serif;
    border-radius: 40px;
    box-shadow: 6px 6px 10px 0 rgb(0 0 0 / 9%), -8px -8px 12px 0 rgb(255 255 255 / 40%);
}
.nav-pills-container .nav-fill .nav-item .nav-link:hover{
    box-shadow: inset 6px 6px 10px 1px rgb(0 0 0 / 9%), -8px -8px 12px 0 rgb(255 255 255 / 40%);
}
.nav-pills-container .nav-fill{
    gap: 75px;
}
.company-category-tabs{
    padding: 0 150px;
    background-color: #F2F3F6;
}
.tab-section-title{
    font: 22px 'Helvetica_Neu_Bold', sans-serif;
    margin-bottom: 20px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line-img{
    width: 82%;
}
.company-category-tabs .best-seller-product-img-wrap{
    /* background: #fff; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.company-category-tabs .best-seller-product-details{
    background: #fff;
    border: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.company-category-tabs .best-seller-card{
    box-shadow: 0px 3px 6px rgba(0,0,0,16%);
    border-radius: 12px;
}
.company-category-tabs .item{
    padding: 10px 5px;
    position: relative;
}
.company-category-tabs .item::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 95%;
    right: -38px;
    top: 50%;
    transform: translateY(-50%);
    background: #707070;
}
h6.product-title.tab-product-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.code-wran-wrap{
    display: grid;
    grid-row-gap: 5px;
}
.p-code{
    font: 14px 'Helvetica_Neu_Bold', sans-serif;
    color: #A6ADB4;
}
.p-warn-text{
    font: 14px 'Helvetica_Neu_Bold', sans-serif;
    color: #0069D9;
}
.arrow-wrap{
    display: inline-block;
}
#all-phones{
    padding: 0px 150px 20px;
}
.search-wrapper input{
    border: 1px solid rgba(112,112,112,16%);
    border-radius: unset;
    padding-right: 40px;
    font: 14px 'HelveticaNeue', sans-serif;
    height: 42px;
}
.product-drp-wrap select{
    border: 1px solid rgba(112,112,112,16%);
    border-radius: unset;
    font: 11px 'HelveticaNeue', sans-serif;
    color: #BABABA;
    height: 24px;
    width: 55%;
    padding: 3px 5px;
    margin-left: 10px;
}
.search-wrapper input:focus{
    outline: none;
    box-shadow: none;
}
.search-wrapper input::placeholder{
    color: rgba(0,0,0,50%);
}
.search-wrapper{
    position: relative;
}
.search-wrapper .search-icon{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.label-text{
    color: #000;
    font: 13px 'Helvetica_Medium', sans-serif;
}
.dropdowns-container .dropdown-wrap{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.product-drp-wrap{
    display: flex;
    align-items: center;
}
.phones-card{
    margin-top: 20px;
    display: flex;
    border: 2px solid #F4F6F8;
    background-color: #fff;
    position: relative;
}
.phones-card .best-seller-product-details{
    border: unset
}
.phones-card .best-seller-product-img-wrap{
    background-color: #fff;
}
#phones .brands-container{
    padding: 0 15px;
}
.sm-section-title-wrap, .sm-dropdowns-container, .mobile-view-flex, .mobile-view-block, .mobile-view{
    display: none;
}

/* Product Details*/
.section-title-wrap .regular-font{
    font: 16px 'HelveticaNeue', sans-serif;
    color: #666666;
}
.product-detail-row{
    padding: 30px 150px;
}
.product-detail-content-wrap{
    padding-left: 40px;
}
.product-detail-title{
    font: 24px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
}
.product-detail-comp-name{
    color: #007FFF;
    font: 18px 'Helvetica_Neu_Bold', sans-serif;
    margin: 15px 0;
}
.product-detail-price{
    font-family: 'Helvetica_Neu_Bold', sans-serif;
    display: flex;
    align-items: center;
    gap: 50px;
}
.product-detail-discount{
    font-size: 28px;
}
.product-detail-actual{
    font-size: 24px;
    text-decoration: line-through;
}
.product-detail-content-wrap .btn-dark, .product-detail-content-wrap .btn-primary{
    font-family: 'Helvetica_Neu_Bold', sans-serif;
    margin-top: 20px;
}
.product-detail-hr{
    background-color: #707070;
    margin: 30px 0;
}
.product-detail-overview{
    font: 18px 'Helvetica_Neu_Bold', sans-serif;
}
.product-detail-overview-desc{
    color: #828284;
    font: 14px 'HelveticaNeue', sans-serif;
    line-height: 1.4;
}
.product-detail-hiw{
    padding: 0;
    list-style: none;
    font: 11px 'HelveticaNeue', sans-serif;
    line-height: 1.4;
    color: #828284;
}
.product-detail-hiw li{
    margin-bottom: 10px;
}
.may-like-title{
    font: 14px 'Helvetica_Medium', sans-serif;
    margin-bottom: 0;
    border-bottom: 1px solid #707070;
}

/* Electronics */
.b-none{
    border: none;
}
.electronic-fav-icon{
    position: absolute;
    right: 5px;
    top: 0;
}
.electronics-img-wrap{
    display: flex !important;
    align-items: center;
}
.electronics-img-wrap img{
    height: auto;
}
.electronic-card{
    height: 90%;
}

/* Brands */
.lite-section-title{
    font: 18px 'HelveticaNeue', sans-serif;
    padding: 15px;
}
.product-price-wrap.d-grid{
    row-gap: 5px;
}
.mobile-brands-phones-card-container{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 10px;
    row-gap: 20px;
}
.mobile-brands-phones-card-container .best-seller-product-details{
    border: none;
}
.mobile-brands-phones-card-container .best-seller-product-img-wrap{
    background: #fff;
}
.mobile-brands-phones-card-container .best-seller-card{
    position: relative;
}
.mobile-brands-phones-card-container .best-seller-card::after{
    content: '';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 95%;
    background-color: #707070;
}
.mobile-brands-phones-card{
    background: #707070;
    opacity: 1;
    margin: 5px 0;
}
.mobile-brands-phones-card-container .btn-dark{
    font-size: 13px;
}
.brand-page-mobile-logo-wrap .brand-box{
    padding: 0;
    border: none;
    border-bottom: 1.5px solid rgb(0 0 0 / 16%);
    position: relative;
}
.brand-page-mobile-logo-wrap .brands-wrap .brand-box-line:not(:first-child)::after{
    content: '';
    position: absolute;
    left: -8px;
    top: 45%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: #707070;
}
.brand-page-mobile-logo-wrap .brand-box a{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-page-mobile-logo-wrap .brand-box a img{
    width: auto;
    height: auto;
}
.bb-none{
    border-bottom: none !important;
}

/* Electronics game */
.section-title-big-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.section-title-big-wrap .dropdowns-container .dropdown-wrap{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 0px;
}
.section-title-big{
    font: 46px 'Helvetica_Neu_Bold', sans-serif;
}
.section-title-big-wrap .product-drp-wrap select{
    border: none;
    width: 70%;
    height: 41px;
    font-size: 12px;
}
.section-title-big-wrap .product-drp-wrap select:focus{
    outline: none;
    box-shadow: none;
}
.section-title-big-wrap .product-drp-wrap{
    border: 1px solid rgba(112,112,112,16%);
    justify-content: space-between;
}
.section-title-big-wrap .label-text{
    /* font-size: 14px; */
    color: rgb(0 0 0 / 60%);
    margin-left: 16px;
}
.eg-drp-wrap{
    width: 70%;
}
.electronicGame-category .phones-card{
    height: 100%;
}
.electronicGame-category .row.desktop-view .col-md-4{
    margin-bottom: 20px;
}

/* Specail Number */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 2px 2px 6px 1px rgb(0 0 0 / 9%), -2px -2px 4px 0 rgb(255 255 255 / 40%)
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #f2f3f6;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 9%);
  }
  
  input:checked + .slider {
    /* background-color: #2196F3; */
    background-image: linear-gradient(to right bottom, #575F6B, #2C3036);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .switch-text{
      font-size: 13px !important;
      margin-right: 7px;
  }
  .switch-wrap{
      margin-right: 30px;
  }
  .switch-wrap, .switches-container{
      display: flex;
      align-items: center;
  }
  #special-number-row, .special-number-big{
      padding: 30px 150px;
      background-image: linear-gradient(to right bottom, #F8F8FC, #E1E2E8);
  }
  .s-number-link{
    font: 32px 'Helvetica_Neu_Bold', sans-serif;
    display: block;
    text-decoration: none;
    box-shadow: 4px 4px 3px 0 rgb(0 0 0 / 9%);
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to right bottom, #F8F8FC, #E1E2E8);
    border-radius: 6px;
  }
  .s-number-link:hover{
      text-decoration: none;
  }
  .s-numbers-list{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 80px;
    row-gap: 50px;
    margin-top: 30px;
  }
  .special-number-big .s-number-link{
    box-shadow: 6px 6px 10px 0 rgb(0 0 0 / 9%), -8px -8px 12px 0 rgb(255 255 255 / 75%);
    letter-spacing: 5px;
    margin: 40px 0;
  }
  .company-input{
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #707070;
  }
  .company-input-label, .company-input, .company-textarea{
    font: 18px 'HelveticaNeue', sans-serif;
  }
  .sn-price-container{
    position: absolute;
    right: 0;
    top: 0;
    width: max-content;
  }
  .sn-price{
    font: 46px 'Helvetica_Neu_Bold', sans-serif;
  }
  .price-label{
    font: 18px 'Helvetica_Neu_Bold', sans-serif;
  }
  .pos-rel{
      position: relative;
  }
  .company-textarea{
    border: none;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 16%);
  }
  .company-textarea:focus{
      outline: none;
  }
  .company-input{
    outline: none !important;
    box-shadow: none !important;
}
.align-item-end-wrap{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.align-item-center-wrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sc-numbers-list{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 50px;
    row-gap: 10px;
}
.s-number-link2{
    font: 32px 'Helvetica_Neu_Bold', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
}

/* Internet Cards landing page */
.internet-card-landing-page {
    background-image: linear-gradient(to bottom, #F8F8FC, #E1E2E8)
}
.internet-card-landing-page .internet-card-box{
    height: auto;
    padding: 0;
    border: none;
    box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 10%), -8px -8px 12px 0 rgb(255 255 255 / 40%);
    border-radius: 10px;
}
.internet-card-landing-page .internet-card-box:hover{
    box-shadow: inset 2px 2px 4px 0 rgb(0 0 0 / 10%), -8px -8px 12px 0 rgb(255 255 255 / 40%);
}
.internet-card-category-wrapper .best-seller-product-img-wrap{
    padding: 0px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.internet-card-category-wrapper .best-seller-product-img-wrap img{
    height: auto;
}
.internet-card-category-wrapper .product-desc{
    margin-bottom: 30px;
    margin-top: 20px;
}
.internet-card-category-wrapper .best-seller-product-details{
    padding: 0;
}
.internet-card-category-wrapper .best-seller-card{
    padding: 15px;
    border: none;
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 9%), -8px -8px 4px 0 rgb(255 255 255 / 40%), inset 2px 2px 6px 1px rgb(0 0 0 / 9%), -8px -8px 12px 0 rgb(255 255 255 / 40%);
    border-radius: 10px;
}
.internet-cards-drp .product-drp-wrap{
    text-align: center;
}

/* Used Device Product Detail */
.used-product-detail-container{
    height: 100%;
    border: 1px solid #707070;
}
.used-device-details{
    padding: 15px 30px;
}
.ud-time{
    font: 14px 'Helvetica_Neu_Bold', sans-serif;
    color: #A6ADB4;
}
.ud-price{
    font: 28px 'Helvetica_Neu_Bold', sans-serif;
    margin: 30px 0;
}
.ud-color{
    font: 14px 'Helvetica_Neu_Bold', sans-serif;
}
.ud-desc{
    font: 13px 'Helvetica_Neu_Bold', sans-serif;
    color: #A6ADB4;
    margin: 25px 0;
}
.used-device-details .form-check label{
    font: 14px 'HelveticaNeue', sans-serif;
    color: #707070;
}
.used-device-details .btn-outline-secondary{
    font: 13px 'Helvetica_Neu_Bold', sans-serif;
    color: #A6ADB4;
    border-color: #707070;
}
.add-to-cart-btn-wrap{
    border-top: 1px solid #707070;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    background-color: #F6F6F6;
}
.workshop-items-container{
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.workshop-item{
    background: #E6E6E6;
    padding: 8px 12px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 10%), -6px -6px 8px 0 rgb(255 255 255 / 60%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.workshop-item a{
    text-decoration: none;
}
.workshop-item:hover{
    box-shadow: inset 4px 4px 8px 0 rgb(0 0 0 / 10%), -6px -6px 8px 0 rgb(255 255 255 / 60%);
}
.maintenance-title-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 28px 'Helvetica_Neu_Bold', sans-serif;
    margin-top: 20px;
}
.maintenance-title-wrap a{
    font: 14px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
    border-bottom: 2px solid #000;
}
.work-shop-drp .label-text{
    font-size: 16px;
}
.work-shop-drp.product-drp-wrap select{
    font-size: 16px;
    height: 40px;
    padding: 6px;
}
.work-shop-checkbox-wrap .form-check-label{
    font: 14px 'HelveticaNeue', sans-serif;
    color: #707070;
}
.work-shop-checkbox-wrap .form-check{
    display: flex;
    align-items: center;
}
.work-shop-checkbox-wrap input{
    margin: 0 8px !important;
}

/* Automotive Accessories */
.automotive-items-container{
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.automotive-item{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #707070;
    padding: 5px;
}
.home-items-container1{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    align-items: center;
    justify-content: space-evenly;
    /* gap: 125px; */
}
.home-items-container2{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-content: space-evenly;
    padding: 0 204px;
    margin-top: 30px;
}
.home-item a{
    background: #EDEEF2;
    padding: 8px 12px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 10%), -6px -6px 8px 0 rgb(255 255 255 / 60%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 60px;
    height: 70px;
    
}
.home-item a:hover{
    box-shadow: inset 4px 4px 8px 0 rgb(0 0 0 / 10%), -6px -6px 8px 0 rgb(255 255 255 / 60%);
}
.home-item a img{
    height: 100%;
}
.home-item{
    position: relative;
    height: 100%;
}
.home-item p{
    font: 14px 'Helvetica_Medium';
    color: #505863;
}
.home-item:not(:last-child)::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 90%;
    top: 0%;
    /* transform: translateY(-50%); */
    right: 1px;
    background-color: #707070;
}
.automotive-category-input-wrap{
    gap: 30px;
}
.automotive-category-input-wrap input{
    border: 1px solid #707070;
    border-radius: 0;
    font: 16px 'HelveticaNeue', sans-serif;
    color: #707070;
}
.automotive-category-input-wrap input::placeholder{
    color: #ccc;
}
.see-more-link {
    box-shadow: inset 3px 3px 6px -2px rgb(88 108 138 / 50%);
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
    text-decoration: none;
    color: #343A40;
    padding: 12px;
    border-radius: 25px;
}
.see-more-link:hover {
    box-shadow: 3px 3px 6px -2px rgb(88 108 138 / 50%);
    color: #343A40;
}
.automotive-drp-wrap .form-select{
    border-radius: 0;
    border: 1px solid #707070;
    font: 16px 'HelveticaNeue', sans-serif;
}
.automotive-cards{
    padding: 15px;
    border: none;
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 9%), -8px -8px 4px 0 rgb(255 255 255 / 40%), inset 2px 2px 6px 1px rgb(0 0 0 / 9%), -8px -8px 12px 0 rgb(255 255 255 / 40%);
    border-radius: 10px;
}
.automotive-cards .best-seller-product-img-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #707070;
}
.automotive-cards .best-seller-product-img-wrap img{
    height: auto;
}
.automotive-cards{
    justify-content: space-between;
}
.automotive-cards .btn-dark{
    margin-right: 10px;
}
.automotive-cards .best-seller-product-details{
    padding: 5px;
}
.automotive-products-cards{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #EDEEF2;
    padding: 7px;
    height: 100%;
}
.automotive-products-cards .best-seller-product-details{
    border: none;
    padding: 0 15px;
}
.automotive-products-cards .best-seller-product-img-wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.automotive-products-cards .best-seller-product-img-wrap img{
    height: auto;
}
.automotive-products-card-container{
    height: 100%;
    display: grid;
    row-gap: 15px;
    box-shadow: 1px 2px 10px 2px rgb(0 0 0 / 8%);
    border-radius: 10px;
    padding: 10px;
}
.automotive-products-cards a{
    text-decoration: none;
}
.search-input-wrap input{
    width: 100%;
    background-color: #fff;
    border: 1px solid #707070;
}
.mobile-view-flex .automotive-products-cards{
    background-color: #fff;
    border: 1px solid #707070;
}
/* Celebrities */
.celebrities-section{
    background-color: rgba(243, 243, 246, 93%);
}
.celebrities-card-wrap{
    padding: 15px 30px;
    position: relative;
    text-decoration: none;
}
.celebrity-img-wrap{
    padding: 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}
.celebrity-img-wrap img{
    background: #EEEFF3;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 8px 8px 8px 0 rgb(0 0 0 / 6%), -12px -12px 16px 0 rgb(255 255 255 / 60%);
}
.celebrity-info-wrap{
    background: #fff;
    padding: 130px 10px 10px 10px;
    margin-top: 125px;
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 10%);
    border-radius: 5px;
}
.celebrity-name{
    font: 14px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
}
.celebrity-profile-info, .celebrity-product-info{
    font: 14px 'HelveticaNeue', sans-serif;
    color: #22262A;
    margin-bottom: 0;
}
.celebrities-card-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #F2F3F6;
    padding: 40px 150px;
}
.celebrities-cards{
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 10%);
    text-decoration: none;
    margin-top: 130px;
    border-radius: 7px;
    display: block;
}
.celebrity-img-round img{
    text-align: center;
    background: #EEEFF3;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 8px 8px 8px 0 rgb(0 0 0 / 6%), -12px -12px 16px 0 rgb(255 255 255 / 60%);
    width: 100%;
    margin-top: -110px;
}

.celebrity-info{
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}
.celebrities-video video{
    height: 290px;
}
.bg-white.company-logo-row{
    background-image: none;
}

/* Authentication */
.auth-title{
    font: 28px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
    border-bottom: 2px solid #707070;
    padding-bottom: 7px;
}
.auth-top-title{
    font: 28px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
    margin-bottom: 2rem;
    text-align: center;
}
.form-info, .auth-form label, .forgot-password, .form-text{
    color: #707070;
    font: 14px 'HelveticaNeue', sans-serif;
    text-decoration: none;
}
.auth-form input{
    border: 1px solid #707070;
    border-radius: 0 !important;
}
.forgot-password:hover{
    color: #343A40;
}
.btn-forgot-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-login{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 14px 'HelveticaNeue', sans-serif;
    padding: 12px;
    box-shadow: 0px 0px 9px 2px rgb(0 0 0 / 15%);
}
.btn-login:hover{
    box-shadow: inset 0px 0px 9px 2px rgb(255 255 255 / 30%);
}
.signup-container{
    width: 50%;
    margin: 0 auto;
}

/* My Account */
.myAccount-left-nav{
    height: 100%;
    border-right: 2px solid #707070;
    padding-right: 80px;
}
.myAccount-left-nav ul li a{
    font: 14px 'HelveticaNeue', sans-serif;
    text-decoration: none;
}
.myAccount-left-nav ul li a.active{
    color: #000;
}
.myAccount-left-nav ul li a.active::after{
    content: ' ';
    position: absolute;
    left: -10px;
    width: 2px;
    height: 100%;
    background-color: #000;
    top: 0%;
}
.myAccount-left-nav ul{
    list-style: none;
    padding-left: 10px;
    margin-top: 15px;
}
.myAccount-left-nav ul li{
    margin: 7px 0;
}
.myAccount-left-nav ul li hr{
    margin: 20px 0;
}
.myAccount-left-nav ul li a{
    color: #707070;
    position: relative;
}
.myAccount-left-nav ul li a:hover{
    color: #000;
}
.myAccount-left-nav ul li a:hover::after{
    content: ' ';
    position: absolute;
    left: -10px;
    width: 2px;
    height: 100%;
    background-color: #000;
    top: 0%;
}
.my-account-right-content-wrapper{
    padding-left: 50px;
}
.my-account-title{
    font: 28px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
    margin-bottom: 30px;
}
.my-account-title-with-border{
    font: 18px 'Helvetica_Medium', sans-serif;
    color: #000;
    border-bottom: 2px solid #707070;
    padding-bottom: 12px;
    margin-bottom: 30px;
}
.my-acc-section-title{
    font: 15px 'HelveticaNeue', sans-serif;
    color: #000;
}
.my-acc-info, .edit-change-wrap a{
    font: 13px 'HelveticaNeue', sans-serif;
    color: #707070;
}
.edit-change-wrap a{
    text-decoration: none;
}
.edit-change-wrap a:hover{
    color: #2C3036;
}
.edit-change-wrap span{
    margin: 0 7px;
}
.profile-background-container{
    position: relative;
    width: 100%;
    padding-bottom: 90px;
}
.user-profile-img{
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.edit-profile-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    margin: 30px auto;
}

.edit-profile-wrap a{
    text-decoration: none;
    color: #707070;
    font: 14px 'HelveticaNeue', sans-serif;
    margin: 0 15px;
}
.edit-profile-wrap a:hover{
    color: #2C3036;
}

/* Cart CSS */
.cart-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.continue-shop{
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
    text-decoration: none;
    position: relative;
}
.continue-shop::after{
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.continue-shop:hover{
    color: #666666;
}
.continue-shop:hover::after{
    background: #666666;
}
.cart-item-card {
    border: 2px solid #F4F6F8;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.cart-item-card i.fa-times{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #000;
    cursor: pointer;
}
.card-product-img{
    margin-right: 20px;
}
.cart-item-product-title{
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
}
.cart-item-remove-move-wrap a{
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
    text-decoration: none;
    position: relative;
}
.cart-item-remove-move-wrap a::after{
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 1.5px;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.cart-item-remove-move-wrap a:hover{
    color: #666666;
}
.cart-item-remove-move-wrap a:hover::after{
    background: #666666;
}
.cart-select-price{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-select-price .form-select{
    width: max-content;
    border: 1px solid #000;
    border-radius: 0;
    padding: 6px 36px 6px 6px;
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
}
.cart-select-price .cart-price{
    font: 16px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
}
.cart-form-wrap .custom-form-control{
    border: 2px solid #C1C1C1;
    border-radius: 0;
}
.order-summary-wrap {
    border: 2px solid #F4F6F8;
    padding: 15px;
}
.order-summary-title{
    font: 18px 'Helvetica_Medium', sans-serif;
    color: #000;
    margin-bottom: 30px;
}
.order-price-title, .order-price{
    font: 14px 'Helvetica_Medium', sans-serif;
    color: #666666;
}
.order-summary-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bt-2-gray{
    border-top: 2px solid #707070;
}

/* Competiton */
.competition-box{
    width: 100%;
}
.competition-box .modal-header{
    background-color: #000;
    height: 80px;
    position: relative;
}
.competition-box .btn-close{
    background: none;
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px;
}
.competition-box .modal-body{
    text-align: center;
    padding: 50px 30px 20px 30px;
    background: #EAEAEA;
    font: 18px 'Helvetica_Neu_Bold', sans-serif;
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 21%);
}
.competition-box .modal-body p{margin-bottom: 0;}
.ribbon-img{
    height: 110px;
    width: 45px;
    position: absolute;
    z-index: 9;
    left: 12px;
}
.gray-ribbon-img {
    height: 120px;
    width: 45px;
    position: absolute;
    z-index: 8;
    left: 12px;
}
.competition-box .modal-footer{
    justify-content: flex-start;
    border-top: none;
}
.time-date-wrap{
    display: flex;
    align-items: center;
}
.time-date-wrap span, .competition-company-name{
    font: 12px 'Helvetica_Neu_Bold', sans-serif;
    color: #A6ADB4;
}
.time-date-wrap span:nth-child(1){
    margin-right: 15px;
}
.competition-price, .page-title{
    font: 26px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
}
.competition-coupen-code{
    font: 14px 'HelveticaNeue', sans-serif;
    color: #000;
}

/* Checkout */
.checkout-table thead{
    border-bottom: 2px solid #707070;
    text-align: center;
}
.th-lg-text{
    font: 26px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
    text-align: left;
}
.checkout-order-card{
    display: flex;
    align-items: center;
}
.checkout-order-card .checout-order-img{
    margin-right: 20px;
    border: 1px solid #707070;
    padding: 7px;
}
.checkout-order-title{
    font: 15px 'Helvetica_Neu_Bold', sans-serif;
    color: #000;
}
.checkout-order-desc{
    font: 12px 'Helvetica_Neu_Bold', sans-serif;
    color: #A6ADB4;
}
.checkout-table tbody tr td{
    vertical-align: middle;
    text-align: center;
    font: 14px 'Helvetica_Neu_Bold', sans-serif;
}
.form-check-input[type=radio].form-radio{
    border-radius: 50% !important;
}
.form-check-input.form-radio:checked{
    background-color: #000;
    border-color: #000;
}
.chooes-pay-text{
    font: 14px 'HelveticaNeue', sans-serif;
    color: #707070;
    margin: 60px 0;
}
.payment-card-wrap{
    display: flex;
    align-items: center;
    gap: 30px;
}
.checkout-payement-container .btn-login{
    margin-top: 5rem;
}
.checkout-billing-container .order-summary-wrap{
    margin-top: 5rem;
}
.billing-summary-text{
    font: 14px 'HelveticaNeue', sans-serif;
    color: #707070;
    margin-top: 1rem;
}
.billing-summary-f-links {
    margin-top: 3rem;
    text-align: center;
}
.billing-summary-f-links a{
    color: #707070;
    font: 14px 'Helvetica_Neu_Bold', sans-serif;
    text-decoration: none;
}
.billing-summary-f-links a:hover{
    color: #000;
}
.checkout-order-card .checout-order-img{
    margin-right: 0;
    height: 120px;
}